/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}
.newa-card{
    background-color: bisque;
    max-width: 400px;
    padding: 24px;
    
}
img{
    max-width: 300px;
    max-height: 300px;
    margin: auto;
    display: block;
    
}
#root{
    text-align: center;
} */
