

.parent{
    background-color:aquamarine;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}
.child{
    background-color: bisque;
    border: 1px solid rebeccapurple;
    justify-content: flex-end;
}
.search-box{
flex-grow: 1;
border: 1px solid rebeccapurple;
}
.cart{
    background-color: bisque;
    border: 1px solid rebeccapurple;
}

